/*  body tags whole implmentation*/
body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;

}

/* header class starts here */
.header {
    grid-column: 1/11;
    grid-row: 1/4;
    font-size: x-large;
    background-color: #AC3B61;
    color: #EEE2DC;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* navigation bar starts here */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    grid-column: 2/11;
    background-color: #123C69;
    color: #EDC7B7;
    font-size: 70px;

}

/* button class inside navigation bar */
.button {
    box-shadow: 0px 0px 6px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;

}

/* asside pannel */
aside {
    grid-column: 1/2;
    grid-row: 4/16;
    background-color: #BAB2B5;
    color: #072d55;
    padding: 25px;

}
/* hover property on a asside pannel */
aside>p:hover {
    box-shadow: 0px 4px 8px 10px #AC3B61;
    background-color: #EDC7B7;
}
/* main tag */
main {
    grid-column: 2/10;
    grid-row: 5/16;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

/* article start here  */
article {
    grid-column: 10/11;
    grid-row: 5/16;
    display: flex;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

/* images inside a article tag */
img {
    box-shadow: 6px 8px 10px rgb(156, 94, 94);
}